<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: header"></head>
<body class="container">
<h1 th:text="${title}">Default Title Add</h1>
<nav th:replace="fragments :: navigation"></nav>

<div>
    <h2 th:text="${localDate}"></h2>
    <!--<h2 th:text="${localDateTime}"></h2>-->
</div>
<form method="post" th:object="${menuItem}">

    <div class="form-group has-success">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error text-danger"></span>
    </div>
    <div class="form-group has-success">
        <label th:for="price">Price</label>
        <input class="form-control" th:field="*{price}" />
        <span th:errors="*{price}" class="error text-danger"></span>
    </div>


    <!--set onclick type method to use current time setter-->
    <!--<div class="form-group has-success">-->
        <!--<label th:for="itemDate">Item Date</label>-->
        <!--<input type="datetime-local" class="form-control" th:field="*{itemDate}" />-->
        <!--<span th:errors="*{itemDate}" class="error text-danger"></span>-->
    <!--</div>-->

    <!--is the below formatted smoothly? anything unnecessary?-->
    <div class="form-group has-success">
        <label for="Category">Item Category</label>
        <select id="Category" th:field="*{Category}" th:remove="all-but-first">
            <option th:each="aCategory : *{Category.values()}" th:value="${aCategory}" th:text="${aCategory}">Item Category</option>
        </select>
        <span th:errors="*{Category}" class="error text-danger"></span>
    </div>

    <input type="submit" value="Add Menu Item" />
</form>
</body>
</html>