<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: header"></head>
<body class="container">
    <h1 th:text="${title}">Default Title Remove</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <form method="post">
        <div th:each="menuItem : ${menuList}" class="checkbox">
            <input type="checkbox" name="itemIds" th:value="${menuItem.itemId}" th:id="${menuItem.itemId}"/>
            <label th:for="${menuItem.itemId}" th:text="${menuItem.description}"></label>
            <br />
        </div>
        <span th:text="*{errors}" class="error text-danger"></span>
        <br />
        <div th:if="${!menuList.isEmpty()}">
            <input type="submit" value="Remove Menu Item"/>
        </div>
    </form>
</body>
</html>